################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
 
/Gr60/.vs/Gr60.slnx/FileContentIndex
